.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(15px + 2vmin);
  color: white;
  padding: 50;
  font-weight: bold;

}

.App-Body {
  background-color: #282c34;
}

.App-link {
  color: #09d3ac;
}

