.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(15px + 2vmin);
  color: white;
  padding: 50;
  font-weight: bold;
}

a {
  color: blue;
} /* Globally */

a.subnav_add:visited {
  color: blue;
  text-decoration: none;
}

a.subnav_add:hover,
a.subnav_add:active {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  text-decoration: none;
  color: black;
}
.App-Body {
  background-color: #282c34;
}

.App-link {
  color: #09d3ac;
}
