.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  font-size: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50;
  height: 100vh;
}

.App-Body {
  background-color: #282c34;
}

.App-link {
  color: #09d3ac;
  margin: 10px;
}

input{
    margin: 10px;
    margin-left: 20px;
}

.Email{
    position: relative;
    left: 23px;
}

.Login-btn{
    font-size: 25px;
}

.first-name{
    position: relative;
    right:8px;
}

.last-name{
    position: relative;
    right:7px;
}

.birth{
    position: relative;
    right:19px;
}

.password{
    position: relative;
    right:2px;
}

.bio{
    position: relative;
    left:20px;
}

.bio-field{
    position: relative;
    left:20px;
}

.description{
    position: relative;
    right:0px;
}

.desc-field{
    position: relative;
    left: 20px;
}

.location{
    position: relative;
    left: 32px;
}

.date{
    position: relative;
    left: 40px;
}

.time{
    position: relative;
    left: 15px;
}

.min-age{
    position: relative;
    left: 38px;
}

.max-age{
    position: relative;
    left: 36px;
}

.cost{
    position: relative;
    left: 56px;
}

.attendies{
    position: relative;
    left: 25px;
}
